# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

##### Objectives:
* Create and format markdown cells
* Create ordered and unordered cells
* Create tables in a markdown
* Perform basics arithmetic operations in code

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Tensorflow
2. Keras
3. Scikit-learn

|Data Science Tools |
---------------------
|Rstudio |
|Anaconda|
|Visual studio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60
200/60

## Author
Abderrahmane Nabgui